<!DOCTYPE html>
<html>
  <head>
    <title>
    </title>
    <STYLE type="text/css">
      p{
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .footer{
        font-size: 30px;
        position: fixed;
        bottom: 0;
        height: 10%;
        width: 100%;
      }
        .btsign{
          margin-top: 20px;
          margin-bottom: 20px;
          font-size: 35px;
          border-style: dashed;
          border-color: #2E2F30;
          -moz-box-shadow: #666666;
          box-shadow: 10px;
        }
    </STYLE>

  </head>
  <body >
  <div class="jumbotron text-center">
    <div class="page-header">
    <div class="row text-center">
      <div class="col-md-12 col-xs-12">
        <p><h1>Welcome to the Sample app</h1></p>
        <p>This is home page for the  <a href="http://www.railstutorial.org/">Ruby on Rails</a> Sample application </p>
        <%= link_to "Sign up", signup_path%>
    </div>
</div>
      </div>
  </div>
  </body>
</html>