<STYLE type="text/css">
a{
  margin-left: 10px;
  margin-right: 10px;
}
    h5{
      margin-left: 10px;
      margin-right: 10px;

    }
</STYLE>

<p id="notice"><%= notice %></p>
<div class="text-center">
<%= will_paginate %>
  <hr>
<h1>Listing Users</h1>
</div>
<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <%= render user %>
  <% end %>
  </tbody>
</table>


<%= will_paginate %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
